[mysqld]
pid-file                    = /var/run/mysqld/mysqld.pid
socket                      = /var/run/mysqld/mysqld.sock
datadir                     = /var/lib/mysql
secure-file-priv            = NULL
innodb_ft_min_token_size    = 1
ft_min_word_len             = 1
